$black: #1d1d1d;
$white: #fff;
$grey: #232323;
$lightGrey: #D8D8D8;

$green: #B8E986;

//.bright {
  //color: $green;
//}

@import '_typography.scss';

.tableish .row {
    margin-top: 96px;
    margin-bottom: 96px;
}

header {
    background-image: url('/img/tn-state-capitol-building.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0;
    padding-bottom: 32px;

    background-position: center 0;

    @media (min-width: 1062px) {
      padding-top: 64px;
      padding-bottom: 64px;
      min-height: 900px;
    }

    .headline {
      color: $white;
      margin-top: 32px;

      @media (min-width: 1062px) {
        margin-top: 128px;
      }
    }

    .intro {
      font-size: 22px;

      @media (min-width: 1062px) {
        font-size: 30px;
      }
    }

    .logos {
      @media (min-width: 1062px) {
        display: block;
        position: absolute;
        bottom: 32px;
        max-width: 900px;
        width: 100%;
        overflow: hidden;

        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);

        padding-left: 16px;
        padding-right: 16px;

        margin-left: auto;
        margin-right: auto;
      }
    }

    .logo-metro {
      display: block;
      margin: 0 auto;

      @media (min-width: 1062px) {
        margin: none;
        float: left;
      }
    }

    .logo-c4n {
      display: block;
      margin: 0 auto;
      margin-top: 16px;

      @media (min-width: 1062px) {
        margin: none;
        float: right;
      }
    }
}

.img-logo {
  display: block;
  margin: 0 auto;
}

@media (min-width: 1062px) {
    .img-logo {
      display: block;
      margin: 0;
    }
}

nav {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 32px;
  overflow: hidden;
}

nav .nav-member {
  display: block;
  padding: 8px 0;
  width: 50%;
  float: left;
}

nav .nav-member:nth-child(2n) {
  text-align: right;
}

@media (min-width: 1062px) {
  nav {
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      position: absolute;
      right: 128px;
  }

  nav .nav-member {
      display: inline-block;
      margin-left: 16px;
      padding: 0;
      padding-bottom: 8px;
      float: none;
      width: auto;
  }
}
nav a {
    color: $grey;
    border-bottom: 2px solid transparent;
    transition: border-color 180ms ease;
}

nav a:hover {
    border-color: $green;
}

nav a:first-child {
    margin-left: 0;
}

a {
  //border-bottom: 2px solid transparent;
  transition: border-color 180ms ease, background-image 180ms ease;
  text-decoration: none;
}

a:active,
a:hover {
  border-color: $green;
}

.squig:active,
.squig:hover {
  border-bottom: none;
  /* stole (with much love) from The Outline (https://theoutline.com) */
  background-image: url("data:image/svg+xml;charset=utf8,<svg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'><style type='text/css'>.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}</style><path fill='none' stroke='%23B8E986' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/></svg>");
  background-position: 0px calc(100% - 1.5px);
  background-size: auto 6px;
  background-repeat: repeat-x;
  padding-bottom: 6px;
}

section {
  padding-top: 64px;
  padding-bottom: 64px;
}

footer {
  padding-bottom: 96px;
}

a.bright {
  color: $green;
}

a {
  color: $grey;
}

section.dark {
    background-color: $grey;
    color: $white;
}

section.bright {
    background-color: $green;
    color: $grey;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
}

.btn--lg {
    font-size: 30px;
    padding: 16px 24px;
    border-radius: 18px;
}

.btn--dark {
    background-color: $grey;
    color: $white;
}

.btn--dark:active,
.btn--dark:hover {
    background-color: $white;
    color: $grey;
}

.btn--bright {
    color: $green;
    background-color: $grey;
    border: 2px solid transparent;
    text-shadow: none;
    transition: border-color 180ms ease;
}

.btn--bright:active,
.btn--bright:hover {
    border-color: $green;
}

.logos {
    margin-top: 128px;
}

.addressGroup h1 {
  margin: 0;
}

.map {
    margin-top: 32px;
    position: relative;
}

.map iframe {
  width: 100%;
  height: 450px;
}

.mouseCaptureOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

table {
  width: 100%;
}

td {
    padding-top: 8px;
}

th {
  text-align: left;
}

.u-textCenter {
  text-align: center;
}

.u-textRight {
  text-align: right;
}

.u-bump {
  margin-top: 32px;
}

.u-bump.u-bump {
  margin-top: 64px;
}

.u-cf:after {
    content: " ";
    clear: both;
    display: table;
}

.u-floatRight {
    float: right;
}

.u-floatLeft {
    float: left;
}

.u-centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.u-bold {
  font-weight: bold;
}

.u-imgResp {
  display: block;
  max-width: 100%;
}
