extends ../_layout
block body
  //Event Notes
  //Developing Interactive Community Participatory Mapping and App focused on Public Health with Open Government/Non Government Data
  //Storytelling is the thematic vehicle for relating/contextualizing the event

  //Existing Id
  //http://nashvillecivichackday.tech/
  //http://www.codefornashville.org/ 
  //http://www.communitytmappingforhealthequity.org



  .content
    header
      h1 Storytelling with Government Data
      h2 A Public Health Hackathon

      p.intro By Code for Nashville in partnership with the Government of Metro Nashville and National Communtty Mapping Center at Meharry Medical College.

      nav.nav
        a.nav-link(href="#location") Location
        a.nav-link(href="#about") About
        a.nav-link(href="#submissions") Submissions
        a.nav-link(href="#faq") FAQ
        a.nav-link(href="#coc") Code of Conduct
        a.nav-button(href="https://www.eventbrite.com/e/storytelling-with-government-data-a-public-health-hackathon-tickets-31591056701", target="_blank")
          button Register Now

      table.u-bump
        tr
          th Date:
          th Time:
          th Location:
        tr
          td Saturday March 18, 2017
          td 8am to 8pm
          td
            .addressGroup
              p Nashville Software School
              p 500 Interstate Blvd S
              p Nashville, TN37210

    section
      p <Registration Link>

    section#workshops
      h2 Preliminary Workshops
      p.
        We'll be hosting two pre-hackathon workshops to introduce you to some
        interesting data sets and the mappler tool. Join us for one of the sessions
        and learn how to use this powerful mapping tool.

      table.u-bump
        tr
          td March 4th
          td 4:00 to 6:30pm
          td Location TBA
          td
            a(href="https://www.eventbrite.com/e/public-health-hackathon-training-workshop-tickets-31591067734", target="_blank")
              button.btn.btn--table Register here

        tr
          td March 15th
          td 5:30 to 8:00pm
          td Location TBA
          td
            a(href="https://www.eventbrite.com/e/public-health-hackathon-training-workshop-tickets-31591076761", target="_blank")
              button.btn.btn--table Register here

    section#location
      h2 Location
      p <google map to venue>
      .map
        //<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3222.3854113819725!2d-86.7556841141891!3d36.13282805305199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88646609ff279a6f%3A0xe3c6150815a94d91!2s500+Interstate+Blvd+S%2C+Nashville%2C+TN+37210!5e0!3m2!1sen!2sus!4v1458274504515" frameborder="0" style="border:0" allowfullscreen=""></iframe><a href="https://maps.google.com/maps?ll=36.132796,-86.756568&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;q=500%20Interstate%20Blvd%20S%20Nashville%2C%20TN%2037210" ,="" target="_blank" class="mouse-cap-overlay"></a>
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3222.3854113819725!2d-86.7556841141891!3d36.13282805305199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88646609ff279a6f%3A0xe3c6150815a94d91!2s500+Interstate+Blvd+S%2C+Nashville%2C+TN+37210!5e0!3m2!1sen!2sus!4v1458274504515", frameborder="0", style="border:0", allowfullscreen="")
        a.mouseCaptureOverlay(target="_blank", href="https://maps.google.com/maps?ll=36.132796,-86.756568&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;q=500%20Interstate%20Blvd%20S%20Nashville%2C%20TN%2037210")

    section#about
      h2 About the Hackathon
      p.
        We’ll have 12 hours to dig into a set of compelling data sets provided by
        Metro and the community at large. Create interactive maps and visualizations,
        and help tell the story of important issues in our city.

    section#schedule
      h2 Schedule
      p This will be pretty informal.

      table
        tr
          td 8:00am
          td Doors open

        tr
          td 8:30am
          td Opening remarks, brief pitching session

        tr
          td 9:00am
          td Hack

        tr
          td 11:00am
          td Lunch is served

        tr
          td 7:00pm
          td Project expo

        tr
          td 8:00pm
          td Closing remarks, the end

    section#about-mappler
      h2 About Mappler
      p <blurb about mappler>

      h3 Safe Routes to Schools
      p http://www.immappler.com/srtsnashville/
      p img of map interface
      p blurb about project

      h3 Zika Mosquito Breeding Sites
      p link to project
      p img of map interface
      p blurb about project

    section#submissions
      h2 Submit a Dataset
      p.
        Are you aware of an interesting or high value data set of benefit to the
        public? Would you like to see what happens when a bunch of nerds and
        designers hack it up and turn it into a powerful interactive tool or
        visualization?

      p Email us at mailto:nick@codefornashville.org?subject=Public Health Dataset

      h2 Submit a Project Idea
      p.
        Do you have an idea for a public good project but lack the tech expertise or
        tech team to help realize it? Shoot us an email and we’ll talk to you about
        it. If it’s motivated by public good and can be distilled into something
        workable in 12 hours, we may be able to get you in front of the group to
        pitch the idea.

      p.
        Please note that project submission doesn’t guarentee that your project will
        get worked on. Also, please understand that we focus our efforts on
        volunteer, not for profit projects that are motivated by the desire to
        improve Metro Nashville’s ability to serve its residents.

      p Email us at mailto:nick@codefornashville.org?subject=Public Health Project

    section#faq
      h2 FAQ
      h3 Not a coder?
      p.
        Excellent! We want to invite people from all kinds of professions and
        backgrounds. Good software projects need more than coders. They need
        designers, content makers, domain experts, organizers and managers, testers,
        researchers, and more.

      p.
        Even if software is a totally foreign language to you, we'll do our best find
        a place for you and help you get involved. Come help us make good things!


      h3 Never been to a hackathon?
      p.
        Great! We'd love to have you. If you're unfamiliar with the format, a hackathon
        is a day long (or two), intensive learning and building session often organized
        around a theme, like ours, transparency and feedback in government.  Our
        hackathon is constructed with a fun, cooperative atmosphere, so if you aren't
        an expert coder or you're just starting to learn design you'll be just as
        welcome as a twenty year veteran of the scene.  Check out this article on
        Medium for an introduction to hackathons.

      h3 Code of Conduct
      p.
        We take making the Nashville Civic Hack Day a safe place for people to get
        together very seriously. Please read our code of conduct, and don't hesitate to
        contact us if you have questions, concerns, or experience any uncivilized
        behavior during the event.

      h3 Accessibility
      p.
        We're ironing out the details of the venue, and as soon as we know what's up,
        we'll post details here.

    section#sponsors
      h2 Sponsors
      p Metro Nashville
      p Meharry Medical College

      p <Register Button>

    footer
      h2 Brought to You By
      p Code for Nasvhille (http://www.codefornashville.org/)
      p Mappler (http://www.mappler.net/)
      p Meharry (http://home.mmc.edu/)
      p Nashville ITS
